{% extends 'layouts/layout.html' %}

{% block body %}

<section style="padding-top: 2rem;">

    <article class="panel is-danger">
    <div class="card">
        <p class="panel-heading">
          Approval Required: </spane> 
        </p>
        {% for node in nodes %}
        <a class="panel-block is-active" href="{{url_for('site.node', id=node.id)}}">
            <p>
                {{node.title}} <span class="is-size-7"> by </span> <span class="is-size-6 is-italic"> {{node.creator}}</span>
                <span class="panel-icon">
                <i class="fas fa-arrow-right" style="margin-top: 0.3rem;" aria-hidden="true"></i>
                </span> {{node.description}} 
            </p>
        </a>
        {% endfor %}
    </div>
    </article>
</section>
   

     
        
        
  

{% endblock %}
