
{% extends 'layouts/layout.html' %}

{% block body %}
<div class="columns" style="padding-top: 2rem;">
    <div class="column"style="z-index: 1;">
        <section >
            <form action="" method="post">
                <div class="card  shade">
                    {{ form.hidden_tag() }}
                    <div class="card-header-title">
                        Login: 
                    </div>
                    <div class="card-content">
                        
                        <div class="field">
                            <label class="label">{{ form.email.label }}</label>
                            {{ form.email(size=64, class="control") }}
                            {% for error in form.email.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>

                        <div class="field">
                            <label class="label"> {{ form.password.label }}</label>
                            {{ form.password(size=32, class="control") }}
                            {% for error in form.password.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}

                        </div>

                        <div>
                            <p>Forgot Your Password?<a href="{{ url_for('auth.reset_password_request') }}">Click to Reset It</a></p>
                        </div>

                        <div class="field ">
                            {{ form.submit(class="control") }}
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
    <div class="column">
        
    </div>
</div>
{% endblock %}


