{% extends 'layouts/layout.html' %}

  {% block body %}
  <section style="padding-top: 2rem;">
    <h1>Reset Your Password</h1>
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <p>
      {{ form.password.label }}<br>
      {{ form.password(class="control") }}<br>
      {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      </p>
      <p>
      {{ form.password2.label }}<br>
      {{ form.password2(class="control") }}<br>
      {% for error in form.password2.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      </p>
      <p>{{ form.submit() }}</p>
    </form>
  </section>
{% endblock %}
